body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

/* Make EVERYTHING use border-box */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header, section, main, nav, article {
    width: 100vw;
    height: 300px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav {
    background-color: #1d6ea0;
    height: 80px;
}

header {
    background-color: paleturquoise;
}

main {
    background-color: #eaeaea;
    height: 600px;
}

section {
    background-color: azure;
}

article {
    background-color: mediumpurple;
}

/* Background colors */
.bg-yellow {
    background-color: #ffd486;
}

.bg-red {
    background-color: #efaeae;
}

.bg-purple {
    background-color: #d2b6e8;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    section, article {
        width: 50%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        width: 960px;
        margin: 0 auto;
    }
    
    article {
        width: 33.3%;
    }
    
    header {
        height: 400px;
    }
    
    section {
        height: 200px;
        order: 1;
    }
    
    main {
    order: 2;
    }
}